<div>
    <a href="http://localhost:5000/accountgoogle?accessurl=http://localhost:3000/sigin-external&returnurl=http://localhost:3000/sigin-external"> Google</a>
    <a href="http://localhost:5000/accountfacebook?accessurl=http://localhost:3000/sigin-external&returnurl=http://localhost:3000/sigin-external"> Facebook</a>
</div>